/* Hidden checkbox input */
#e_toggle-checkbox,
#c_toggle-checkbox,
#ee_toggle-checkbox,
#l_toggle-checkbox,
#sk_toggle-checkbox,
#co_toggle-checkbox,
#po_toggle-checkbox {
  display: none;
}

/* Label styled as a button for triggering the toggle */

.e_container,
.c_container,
.ee_container,
.l_container,
.sk_container,
.co_container {
  position: relative;

  transition: all 0.3s ease;
  z-index: 1;
  padding-right: 40px;
}

.hidden-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* Set a background color to capture clicks */
  opacity: 0;
  /* Make the label transparent */
  z-index: -1;
  cursor: pointer;
  /* Ensure the label is positioned above the checkbox */
}

.e_dim-overlay-sections,
.c_dim-overlay-sections,
.ee_dim-overlay-sections,
.l_dim-overlay-sections,
.sk_dim-overlay-sections,
.co_dim-overlay-sections {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(204, 213, 219, 0.92);
  /* Foggy blue background */
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  /* Allows clicks to pass through the overlay */
  transition: opacity 0.3s ease-in-out;
}

/* Apply styles when the checkbox is checked */
#e_toggle-checkbox:checked ~ .e_container,
#c_toggle-checkbox:checked ~ .c_container,
#ee_toggle-checkbox:checked ~ .ee_container,
#l_toggle-checkbox:checked ~ .l_container,
#sk_toggle-checkbox:checked ~ .sk_container,
#co_toggle-checkbox:checked ~ .co_container {
  transform: scale(1.5) translate(50%, 20%);

  box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border: 1px solid rgba(204, 213, 219, 0.92);
  z-index: 3;
  user-select: text;
  cursor: auto;
}

#e_toggle-checkbox:checked ~ .e_dim-overlay-sections,
#c_toggle-checkbox:checked ~ .c_dim-overlay-sections,
#ee_toggle-checkbox:checked ~ .ee_dim-overlay-sections,
#l_toggle-checkbox:checked ~ .l_dim-overlay-sections,
#sk_toggle-checkbox:checked ~ .sk_dim-overlay-sections,
#co_toggle-checkbox:checked ~ .co_dim-overlay-sections {
  opacity: 0.93;
  pointer-events: auto;
  /* Enables clicks on the overlay */
}
