@media print {


.header{
    display: none;
}
 .print_div {
width: 100%;
    /* Use full width of the A4 page */
    height: 100%;
    /* Use full height of the A4 page */
    display: flex;
    justify-content: space-between;

    /* Include padding and border in the width and height */
   
}

}